In [1]:
import pandas as pd
import numpy as np
import datetime as dt

# Click stream data generation

In [2]:
###############################################################################    
def gensessid(n):
    '''
    function to generate random numbers
    '''
    for i in range(n):
        z = np.random.randint(5, 25)
        yield (z)
###############################################################################    
def gentime(n):
    '''
    function to generate random time events
    '''
    for i in range(n):
        z = np.random.randint(5, 345)
        yield (z)
###############################################################################
def genchannels():
    '''
    function to generate channels
    '''
    #channel
    channels = ['goog', 'fb', 'insta', 'twit']

    c1 = np.random.random()
    if (c1 < 0.4):
        c= []
    else:
        c = np.random.choice(channels, p=[0.1, 0.3, 0.5, 0.1])
    return (c)
###############################################################################
def picksession(sesslist, gens):
    '''
    function to pick session id
    '''
    z = np.random.random()
    if (z<0.7):
        ss = np.random.choice(sesslist)
    else:
        ss = sesslist[-1] + next(gens)
    return (ss)       
###############################################################################
def getproid(prlist):
    '''
    function to return product id
    '''    
    z = np.random.random()
    if (z<0.25):
        pid = prlist[0]
    elif (z< 0.45):
        pid = prlist[1]
    else:
        pid = np.random.choice(prlist[2:])
    return (pid)
###############################################################################    
def buy(pid, prlist):
    ''''
    function to return a campaign 
    '''
    if (pid==prlist[0]):
        f = int(np.random.random() + 0.6)
    elif (pid==prlist[1]):
        f = int(np.random.random() + 0.05)
    else:
        f = int(np.random.random() + 0.2)
    return (f)
###############################################################################    
def campaign(e):
    ''''
    function to return a campaign 
    '''
    if (e==1):
        f = int(np.random.random() + 0.6)
    else:
        f = 0
    return (f)
###############################################################################    
def purchasevalue(pid, prodid, prodcost):
    ''''
    function to return a purchase value 
    '''
    indx = np.where(prodid == pid)
    # add random discount
    cost = prodcost[indx] * (1. - 0.05 * np.random.random())
    return (round(float(cost), 1))

In [3]:
#MAIN PROGRAM
    
#session id
ses_start = 129894938431

#date
strt_date = dt.datetime.strptime("2025-11-01 09:00:00", "%Y-%m-%d %H:%M:%S")

#product ids
prodid = np.random.choice(range(1001, 1543), 60, replace=False)
# product costs
prodcost = np.random.randint(40, 240, 60)

# observations
nobs = 100000

sessgen = gensessid(nobs)
timegen = gentime(nobs)

data = []
sesslist = []
ff = 0
for i in range(nobs):
    if (ff==0):
        a = ses_start
        b = strt_date
        c = genchannels()
        d = getproid(prodid)
        e = buy(d, prodid)
        f = campaign(e)
        g = e * purchasevalue(d, prodid, prodcost)
        sesslist.append(a)
        ff= -1
    else:
        a = picksession(sesslist, sessgen)
        b += dt.timedelta(seconds = next(timegen))
        c = genchannels()
        d = getproid(prodid)
        e = buy(d, prodid)
        f = campaign(e)
        g = e * purchasevalue(d, prodid, prodcost)
    
        
        if (a not in sesslist):
            sesslist.append(a)
    
    data.append([a,b,c,d, e,f, g])
    
ddf = pd.DataFrame(data)
ddf.columns = ['session', 'date_time', 'channel', 'product_id', 'buy', 'campaign', 'value']
ddf.to_csv('clickstream.csv')

/tmp/ipykernel_49536/1087458029.py:85: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  return (round(float(cost), 1))

In [4]:
ddf.tail()

,session,date_time,channel,product_id,buy,campaign,value
99995,129895088415,2026-05-22 16:54:42,twit,1251,0,0,0.0
99996,129895137653,2026-05-22 16:57:41,[],1333,0,0,0.0
99997,129895351966,2026-05-22 17:01:05,insta,1333,0,0,0.0
99998,129895119136,2026-05-22 17:05:24,insta,1333,0,0,0.0
99999,129895368987,2026-05-22 17:07:50,twit,1333,0,0,0.0

In [5]:
ddf.head()

        session           date_time channel  product_id  buy  campaign  value
0  129894938431 2025-11-01 09:00:00      []        1202    0         0    0.0
1  129894938441 2025-11-01 09:03:37      []        1167    1         1   58.3
2  129894938441 2025-11-01 09:05:39   insta        1251    0         0    0.0
3  129894938441 2025-11-01 09:09:03      fb        1167    1         1   58.3
4  129894938431 2025-11-01 09:10:45      fb        1333    0         0    0.0

In [6]:
ddf['buy'].value_counts()

buy
0    72891
1    27109
Name: count, dtype: int64

In [7]:
ddf['campaign'].value_counts()

campaign
0    83732
1    16268
Name: count, dtype: int64

In [8]:
# Move date back
df = pd.read_csv('clickstream.csv', index_col=0)
df.tail()
df['ndt'] = df['date_time'].copy()
df['date_time'] = pd.to_datetime(df['ndt']) - pd.Timedelta(weeks=20)

In [9]:
df.tail()

,session,date_time,channel,product_id,buy,campaign,value,ndt
99995,129895088415,2026-01-02 16:54:42,twit,1251,0,0,0.0,2026-05-22 16:54:42
99996,129895137653,2026-01-02 16:57:41,[],1333,0,0,0.0,2026-05-22 16:57:41
99997,129895351966,2026-01-02 17:01:05,insta,1333,0,0,0.0,2026-05-22 17:01:05
99998,129895119136,2026-01-02 17:05:24,insta,1333,0,0,0.0,2026-05-22 17:05:24
99999,129895368987,2026-01-02 17:07:50,twit,1333,0,0,0.0,2026-05-22 17:07:50

In [10]:
df['date_time'] = df['date_time'].astype(str)
df.head()

,session,date_time,channel,product_id,buy,campaign,value,ndt
0,129894938431,2025-06-14 09:00:00,[],1202,0,0,0.0,2025-11-01 09:00:00
1,129894938441,2025-06-14 09:03:37,[],1167,1,1,58.3,2025-11-01 09:03:37
2,129894938441,2025-06-14 09:05:39,insta,1251,0,0,0.0,2025-11-01 09:05:39
3,129894938441,2025-06-14 09:09:03,fb,1167,1,1,58.3,2025-11-01 09:09:03
4,129894938431,2025-06-14 09:10:45,fb,1333,0,0,0.0,2025-11-01 09:10:45

In [11]:
temp = list(df.columns)
newdf = df[temp[:-1]]
newdf.head()

        session            date_time channel  product_id  buy  campaign  value
0  129894938431  2025-06-14 09:00:00      []        1202    0         0    0.0
1  129894938441  2025-06-14 09:03:37      []        1167    1         1   58.3
2  129894938441  2025-06-14 09:05:39   insta        1251    0         0    0.0
3  129894938441  2025-06-14 09:09:03      fb        1167    1         1   58.3
4  129894938431  2025-06-14 09:10:45      fb        1333    0         0    0.0

In [12]:
newdf.to_csv('clickstream.csv', index=False)

In [13]:
newdf.head()

        session            date_time channel  product_id  buy  campaign  value
0  129894938431  2025-06-14 09:00:00      []        1202    0         0    0.0
1  129894938441  2025-06-14 09:03:37      []        1167    1         1   58.3
2  129894938441  2025-06-14 09:05:39   insta        1251    0         0    0.0
3  129894938441  2025-06-14 09:09:03      fb        1167    1         1   58.3
4  129894938431  2025-06-14 09:10:45      fb        1333    0         0    0.0